* {
    box-sizing: border-box;
}
h1{
    font-size: 110px;
    margin: 0px;
}
h2{
    font-size: 60px;
    margin: 0px;
}
a{
    color: #ffffff;
    text-decoration: none;
}

html, body {
margin: 0;
padding: 0;
background: #000000;
color: #ffffff;
font-size: 30px;
font-family: 'Syne', sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    top: 100px;
    z-index: 2;
}

section.sticky {
    position: sticky;
    margin-top: 100px;
}

section.full-screen {
    height: 100vh;
    top: 0;
    margin-top: 0;
    z-index: 3;
}

nav {
    position:fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    font-size: 20px;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style: none;
    margin-left: 45px;
}

nav ul li a{
    color: #ffffff;
    font-family: 'Space Mono', monospace;
}

section.about .empty{
    flex-basis: 37.5vw;
    background: #e5e5e5;
    padding: 3.125vw;
    align-items: flex-end;
    border-radius: 100px;
    transition: flex-basis 1s cubic-bezier(0, .9, .4, .99);
}

section.about article{
    flex:1;
    display: flex;
    flex-direction: column;
}
section.about article .title{
    flex: 1;
    display: flex;
    align-items: flex-end;
    background: #41EAD4;
    border-radius: 100px;
    padding: 3.125vw;
    transition: flex-basis 1s cubic-bezier(0, .9, .4, .99);
}

section.about article .description{
    flex:1;
    display: flex;
    align-items: center;
    background: #FF0022;
    border-radius: 100px;
    padding: 3.125vw;
    color: #000000;
}

section.service article {
    display: flex;
    width: 100%;
}

section.service figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 1vh;
    margin: 0;
    background: #d0ff94;
    border-radius: 100px;
    max-width: 62.5vw;
    transition: flex-basis 1s cubic-bezier(0, .9, .4, .99);

}

section.service figure img {
    width: 40%;
}

section.service .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    flex: 1.5;
    background: #1f1a1c;
    padding: 3.125vw;
    border-radius: 100px;
}

section.service .text a {
    font-family: 'Space Mono', monospace;
}

/*Service Section Animation*/
section.service.service-html figure img {
    animation-name: float;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.77,.28,.42,.93);
}
section.service.service-css figure img {
    animation-name: float;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.77,.28,.42,.93);
}
section.service.service-java figure img {
    animation-name: float;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.77,.28,.42,.93);
}

@keyframes float {
    0% {
        transform: translateY(-5%); /* Removed the space inside parentheses */
    }
    100% {
        transform: translateY(5%); /* Removed the space inside parentheses */
    }
}


section.service.service-html figure {
background: #011627;
}

section.service.service-html .text h2,
section.service.service-html .text a {
    color: #41EAD4;
    }

section.service.service-css figure {
    background: #41EAD4;
}

section.service.service-css .text h2,
section.service.service-css .text a {
    color: #FF0022;
}
section.service.service-java figure {
    background: #FF0022;
}

section.service.service-java .text h2,
section.service.service-java .text a {
    color: #41EAD4;
}

/* contact section*/

section.contact{
    align-items: center;
    justify-content: center;
    background: linear-gradient(#41EAD4, #FF0022, #011627);
    border-radius: 100px;
}

section.contact a {
    font-size: 70px;
    color: #000000;
    font-weight: bold;
    transition: filter 1s cubic-bezier(.77,.28,.42,.93);
    will-change: filter;
}

section.contact a:hover {
    filter: blur(10px);
}

/*Responsive*/

@media only screen and (max-width: 768px) {
    html,body{
        border-radius: 50px;
    }
    h1{
        font-size: 60px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-bottom: 90px;

    }
    h2{
        font-size: 8.3vw;
        padding-top: 40px;
    }

    nav ul li{
        margin-left: 25px;
    }
    p{
        font-size: .9rem;
        padding: 10px;
    }

    section.service article {
        flex-direction: column;
        text-align: center;
        
    }
    section.service figure{
        margin-top: 30px;
        margin-left: 17vw;
        margin-bottom: 20px;
        flex-basis: 3vh;
        
    }
    section.service figure img{
        width: 20%;
    }
    section.contact {
        height: 100vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }
    section.contact a{
        font-size: 40px;
        transform: rotate(90deg);
    }
    section.service.service-java .text h2,
    section.service.service-java .text a {
    margin-left: 20px;
    }
    section.service.service-html .text h2,
    section.service.service-html .text a {
    margin-left: 20px;
    }
    section.service.service-css .text h2,
    section.service.service-css .text a {
    margin-left: 20px;
    }
    @keyframes float {
        0% {
            transform: translateY(); /* Removed the space inside parentheses */
        }
        100% {
            transform: translateY(); /* Removed the space inside parentheses */
        }
    }
}
@media only screen and (max-width: 768px) {
    section.about .empty{
    display: none;    
}
}

svg {
    margin-top: 30px;
    margin-left: 30px;
}